<!DOCTYPE html>
<html>
  <head>
    <title>Misendra</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav>
      <% if asso_signed_in?%>
        <ul>
          <li>
            <%= link_to "Nouvelle mission", new_mission_path %>
          </li>
          <li>
            <%= link_to "Dernières missions", missions_path %>
          </li>
          <li>
            <%= link_to "Se déconnecter", destroy_asso_session_path, method: :delete %>
          </li>
          <li>
            <%= link_to "Mofidier compte", edit_asso_registration_path %>
          </li>
        </ul>
      <% else %>
        <ul>
          <li>
            <%= link_to "Se connecter", new_asso_session_path %>
          </li>
          <li>
            <%= link_to "Créer mon compte", new_asso_registration_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
